@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  /* colors */
  --primary-300: #0065fe;
  --primary-400: #005ae2;
  --red: #d60505;
  --text: #141414;
  --green: #067808;
  --plain: #e2e9f0;
  /* --gradient: #e2e9f0, #dce4eb, #e2e9f0; */
  --yellow: #eac81f;

  @font-face {
    font-family: "Questrial";
    src: url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
  }
}

html,
body {
  width: 100%;
  font-family: "Questrial", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #fff;
}

img {
  max-width: 100%;
}

a,
button {
  text-decoration: none;
  outline: none;
  border: none;
}

.btn-primary {
  display: flex;
  /* width: 100%; */
  width: 8.875rem;
  height: 2.75rem;
  padding: 0.75rem 1.5rem;
  justify-content: center;
  align-items: center;
  background: var(--primary-300);
  color: #ffffff;
  font: 600 1rem Questrial;
  line-height: 0.75rem;
  border: none;
  border-radius: 100px;
}

.cta-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem; 
    text-wrap: nowrap;
  }

.container {
  width: 100%;
  padding-inline: 140px;
  margin-inline: auto;
  background-color: #fff;
}

/* nav styling starts here */
nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 6rem;
}

nav .logo {
  padding: 0.5rem;
}

nav .nav-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}
nav .nav-list li a {
  text-decoration: none;
  transition: 0.6s ease-in-out all;
  color: var(--text);
}

nav .nav-list li a:hover {
  color: var(--primary-300);
}

nav .nav-list li:nth-child(1) a {
  color: var(--primary-300);
}

nav .cta-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}

nav .cta-buttons a {
  color: var(--primary-300);
  font: 1rem "Roboto", sans-serif;
}
/* nav styling ends here */

.hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero header {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-bottom: 2rem;
}

.hero header h1.title {
  font-weight: 700;
  font-size: 3rem;
  line-height: 6rem;
  font-variant: var(--text);
}

.title span {
  color: var(--primary-300);
}

.hero header p.subtitle {
  font-size: 1.125rem;
  line-height: 1.75rem;
  width: min(100%, 48.8rem);
  margin-inline: auto;
}
.hero .cta-buttons{
    gap: 3.5rem;
    margin-inline: auto;
    padding-bottom: 5rem;
}
