@media only screen and (max-width: 640px) {
  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
  }
  nav .nav-list {
    display: none;
  }
  nav .cta-buttons {
    display: none;
  }
  nav .menu-bar {
    display: block !important;
    padding: 0.5rem;
  }

  .hero {
    width: 100%;
    padding-inline: 0.5rem;
  }
  .hero header h1.title {
    font-size: 3rem;
    line-height: 4rem;
    padding-top: 2rem;
  }
  .hero header p.subtitle {
    width: 100%;
  }
  .hero header h1 .blue-stroke {
    display: none;
  }
  .hero .cta-buttons {
    gap: 1rem;
    padding-bottom: 3rem;
  }

  section.hero-2 {
    gap: 3rem;
  }
  .hero-2 .possibilities {
    padding: 2rem;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
  }
  /* .hero-2 .possibilities h2{
    text-align: left;
  } */
  .hero-2 .possibilities .options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .hero-2 .why-scissors {
    flex-direction: column;
    padding: 2rem;
  }
  .hero-2 .why-scissors .why-intro {
    align-items: flex-start;
  }
  .hero-2 .why-scissors .reasons {
    gap: 2rem 1rem;
  }

  .hero.perfect {
    padding-inline: 2rem;
    gap: 2rem;
  }
  .hero.perfect header h2 {
    gap: 0.5rem;
    align-items: flex-start;
  }
  .hero.perfect .plans {
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  }
  .hero.perfect .plans .card {
    border-radius: 0.75rem !important;
    padding: 1.5rem 3rem 1.5rem 3rem !important;
  }
  .hero.perfect .plans .card.dark {
    height: min(100%, 28.44rem);
    background: var(--linear-gradient);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
    border-radius: 0.75rem;
    padding: 1.5rem 3rem 1.5rem 3rem;
    color: #ffffff;
  }
  .hero.perfect .cta-buttons {
    flex-direction: column;
  }

  .faq {
    padding-bottom: 4rem;
  }

  section.test{
    background-position: unset;
    padding: 3rem;
  }

  section.test form{
    padding: 2rem;
  }

  section.hero-small{
    background-position: unset;
  }

  footer{
    background-position: unset;
  }

  footer .container{
    flex-direction: column;
    width: 100%;
    gap: 3rem;
    padding: 2rem;
  }

  footer section.extra-links {
    grid-template-columns: repeat(2, 1fr);
  }

  footer .copyright{
    justify-content: center;
    margin-right: 0;
    margin-block: 1.5rem;
  }
}
